$dark-primary : #172d44;
$dark-1 :#1d2d50;
$black : black;

.bg-black {
    background-color: $black;
}

.bg-dark-primary {
    background-color: $dark-primary !important;
}

.z-1 {
    z-index: 9999;
}

.bg-dark-1 {
    background-color: $dark-1;
}

.bg-dark-2 {
    background-color: #34626c;
}

.bg-dark-3 {
    background-color: #16697a;
}

.bg-4 {
    background-color: #790c5a;
}

.bg-5 {
    background-color: #16697a;
}

.bg-6 {
    background-color: #00454a;
}

.bg-red {
    background-color: #af0404;
}

.bg-7 {
    background-color: #232931;
}

.icon {
    top: 50%;
    left: 50%;
    font-size: 20em;
    color: rgba($color: #000000, $alpha: .5);
    transform: translate(-50%, -50%);
}

@media (max-width: 575.98px) {
    .jumbotron .display-4.fs-30 {
        font-size: 3.0rem;
    }
}