@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@900&display=swap");
body {
  color: black;
  font-family: 'Lato';
}

html {
  scroll-behavior: smooth;
}

nav {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.jumbotron {
  border-radius: 0;
  background-color: #282c34;
}

.jumbotron .display-4 {
  color: #48b148;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.jumbotron .btn {
  border-radius: 0;
}

.about {
  padding-top: 7.7rem;
  padding-bottom: 8rem;
}

.about .row .col-md-4 {
  overflow: hidden;
}

.about .row .col-md-4:nth-child(2) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.about .row .col-md-4:last-child {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.about .row .col-md-4:hover .box {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service .row-img {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.service .content.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.service .image-2.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.service .md5 {
  overflow: hidden;
  width: 50%;
}

.service .flex-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service .image-1 {
  height: 100vh;
  background: url("img/bg-showcase-2.jpg");
}

.service .image-2 {
  height: 100vh;
  background: url("img/service-2.jpeg");
  background-size: center;
  background-position: center;
}

.service .image-3 {
  height: 100vh;
  background: url("img/design.jpeg");
}

.portofolio .w-200 {
  width: 130px !important;
  height: 130px;
}

.contact .card {
  border: none;
}

footer .col-md-6 a {
  color: white !important;
  margin: 0 !important;
  padding: 0 !important;
}

footer .col-md-6 a:hover {
  color: #00ddec !important;
}

@media (max-width: 575.98px) {
  .about {
    padding-top: 3rem;
    padding-bottom: 3.3rem;
  }
  .service .md5 {
    width: 100%;
  }
  .portofolio .w-200 {
    width: 120px !important;
    height: 120px;
  }
  .testimonial .col-md-4 {
    margin-top: 2rem;
  }
  footer .col-md-6:first-child {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .about {
    padding-top: 3rem;
    padding-bottom: 3.3rem;
  }
  .service .md5 {
    width: 100%;
  }
  .service .content.order-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .service .image-2.order-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .portofolio .w-200 {
    width: 120px !important;
    height: 120px;
  }
  .testimonial .col-md-4 {
    margin-top: 2rem !important;
  }
  footer .col-md-6:first-child {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */