@import "scss/_body.scss";

html {
    scroll-behavior: smooth;
}

.jumbotron {
    // margin-bottom: 0 !important;
    border-radius: 0;
    background-color: rgb(40, 44, 52);

    .display-4 {
        color: rgb(72, 177, 72);
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;
    }

    .btn {
        border-radius: 0;
    }
}

.about {
    padding-top: 7.7rem;
    padding-bottom: 8rem;

    .row {
        .col-md-4 {
            // opacity: 0;
            // transition: all .5s;
            overflow: hidden;
        }

        .col-md-4:nth-child(2) {
            transition-delay: .3s;
        }

        .col-md-4:last-child {
            transition-delay: .5s;
        }

        .col-md-4:hover .box {
            transform: scale(1.1);
        }
    }
}

.service {

    .row-img {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .content.order-1 {
        order: 1;
    }

    .image-2.order-2 {
        order: 2;
    }

    .md5 {
        overflow: hidden;
        width: 50%;
    }

    .flex-justify-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .image-1 {
        height: 100vh;
        background: url("img/bg-showcase-2.jpg");
    }

    .image-2 {
        height: 100vh;
        background: url("img/service-2.jpeg");
        background-size: center;
        background-position: center;
    }

    .image-3 {
        height: 100vh;
        background: url("img/design.jpeg");
    }
}

.portofolio {
    .w-200 {
        width: 130px !important;
        height: 130px;
    }
}

.contact {
    .card {
        border: none;
    }
}

footer {

    .col-md-6 {
        a {
            color: white !important;
            margin: 0 !important;
            padding: 0 !important;
        }

        a:hover {
            color: rgb(0, 221, 236) !important;
        }
    }
}

@import "scss/_responsive.scss";