<%- contentFor('container') %>
<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0 h1">
            Azhar Ozhi Saputra
        </h1>
        <div class="subheading mb-5">
            Jl.Sidoasih XI/22 Tlogosari Semarang <br>
            <a href="saputraozhi@gmail.com">saputraozhi@gmail.com</a>
        </div>
        <p class="lead mb-5">Seorang diri yang berpegang teguh 3B (Bekerja, Beajar, Berilmu) menjadikan insan
            yang kreatif,inovatif dan imajinatif serta memberikan kontribusi yang terbaik untuk
            perusahaan/instansi saya bekerja</p>
        <div class="social-icons">
            <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/azhar-ozhi-saputra-95b6521a5/"><i
                    class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" target="_blank" href="https://github.com/azharos"><i class="fab fa-github"></i></a>
            <a class="social-icon" target="_blank" href="https://wa.me/6285641532396"><i
                    class="fab fa-whatsapp"></i></a>
            <a class="social-icon" target="_blank" href="https://web.facebook.com/ozhi.saputra.16/"><i
                    class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">PT. PLN Semarang Timur</h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September - November 2016</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">TCOMP MEDIA SEMARANG</h3>
                <div class="subheading">Teknisi</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Juli - September 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">PCC SMK N 5 Semarang</h3>
                <div class="subheading">Asisten Trainer</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2017 - 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">FTIK Universitas Semarang</h3>
                <div class="subheading">Asisten Dosen Database</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2019 - Januari 2020</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="flex-grow-1">
                <h3 class="mb-0">SD Kalicari 01 Semarang</h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2006 - 2012</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="flex-grow-1">
                <h3 class="mb-0">SMP N 38 Semarang</h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2012 - 2015</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="flex-grow-1">
                <h3 class="mb-0">SMK N 5 Semarang</h3>
                <div class="subheading mb-0">Teknik Komputer Jaringan</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2015 - 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Universitas Semarang</h3>
                <div class="subheading mb-0">Teknik Informatika</div>
                <p>Semester 6</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2018 - Sekarang</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">FrontEnd Web</div>
        <div class="progress mb-3">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <div class="subheading mb-3">BackEnd Web</div>
        <div class="progress mb-3">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <div class="subheading mb-3">Corel Draw</div>
        <div class="progress mb-3">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <div class="subheading mb-3">Microsoft</div>
        <div class="progress mb-3">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <div class="subheading mb-3">Mikrotik</div>
        <div class="progress mb-3">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 70%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>

        <!-- <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Mobile-First, Responsive Design
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Browser Testing & Debugging
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Functional Teams
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Agile Development & Scrum
                    </li>
                </ul> -->
    </div>
</section>
<hr class="m-0" />

<!-- Portofolio-->
<section class="resume-section" id="portofolio">
    <div class="resume-section-content">
        <h2 class="mb-5">Portofolio</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid
            skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking,
            free climbing, and kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television
            shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest
            technology advancements in the front-end web development world.</p>
    </div>
</section>
<hr class="m-0" />

<!-- Blog -->
<section class="resume-section" id="blog">
    <div class="resume-section-content">
        <h2 class="mb-5">Blog</h2>
    </div>
</section>
<hr class="m-0" />

<!-- Certifications-->
<section class="resume-section" id="Certifications">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <a href="https://drive.google.com/file/d/1DFiqcYad9R9X58LURKU7eltYHrqGxdAB/view?usp=sharing"
                    target="_blank" class="text-secondary" style="text-decoration: none;">
                    <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
                    Junior Web Progammer DISPORAPAR JATENG
                </a>
            </li>
        </ul>
    </div>
</section>